<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>GlossySnake Backend</title>

		<!-- Bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		{% load static %}
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
	</head>
</html>
<body>
	<h1>GlossySnake Backend</h1>
	<p>INDEX PAGE</p>

	<div id="main_div">
		<div id="frontend_test_div">
			<hr>
			<h2>Frontend Test</h2>
			
			<div id="frontend_corpuses_div">
			</div>
			<hr>
			
			<div id="frontend_upload_div">
				<h3>Upload...</h3>
				<label for="frontend_original_text">Original Text</label><br>
				<textarea class="context_input auto-resize field_input"
					name="frontend_original_text"
					spellcheck="true"
					autofocus
					placeholder="Original Text"
					id="frontend_original_text_textarea"></textarea>
				<br>

				<button id="frontend_original_text_button"
					class="btn btn-primary"
					onclick="onFrontendUploadButtonClicked()">
					Upload
				</button>
				<br>

				<p>...or the JSON file</p>
				<input type="file" id="json_file_input" onchange="onJsonFileInput(this.files)">
			</div>
			<hr>

			<div id="frontend_tasks_div">
			</div>
		</div>

		<div id="api_test_div">
			<hr>
			<h2>API Test</h2>

			<div id="urls">
				<a href="rest-auth/login">rest-auth/login</a>
				<br>
				<a href="rest-auth/logout">rest-auth/logout</a>
				<br>
				<a href="rest-auth/registration">rest-auth/registration</a>
				<br>
				<a href="rest-auth/password/reset">rest-auth/password/reset</a>
				<br>
				<a href="rest-auth/password/reset/confirm">rest-auth/password/reset/confirm</a>
				<br>
				<a href="api-auth/login">api-auth/login</a>
				<br>
				<a href="api-auth/logout">api-auth/logout</a>
				<br>
				<a href="admin/">admin/</a>
				<br>
				<a href="api/v4/upload">api/v4/upload</a> |
				<a href="api/v4/corpuses/">api/v4/corpuses/</a> |
				<a href="api/v4/tasks/">api/v4/tasks/</a>
				<br>
				<a href="api/v4/parser/divide">api/v4/parser/divide</a> |
				<a href="api/v4/parser/parse">api/v4/parser/parse</a>
				<br>
				<a href="api/v4/annotator/annotate">api/v4/annotator/annotate</a>
			</div>
			
			<br>
			<hr>
			
			<input type="checkbox" id="listupdate_checkbox" checked>
			<label for="listupdate_checkbox">Update the list after every API call</label>

			<br>
			<hr>


			<div id="endpoint_div" class="container">

				<label for="route">Route</label>
				<input type="text" name="route" placeholder="route" value="http://127.0.0.1:56123" id="route_input"><br>

				<label for="api_uri">API URI</label>
				<input type="text" name="api_uri" placeholder="/api/v4" value="/api/v4" id="api_uri_input"><br>

				<div id="divide_options">
					
				</div>

				<label for="endpoint">Endpoint</label><br>
				<select name="endpoint" id="endpoint_select" size="6" required onchange="onEndpointChanged()">
					<option value="/upload" selected>/upload</option>
					<option value="/parser/divide">/parser/divide</option>
					<option value="/parser/parse">/parser/parse</option>
					<option value="/annotator/annotate">/annotator/annotate</option>
					<option value="/annotator/reannotate">/annotator/reannotate</option>

					<option value="/tasks/">/tasks/</option>
					<option value="/corpuses/">/corpuses/</option>
				</select>
			</div>

			<hr>

			<div id="fields_div" class="container">
				<!-- /parser/divide | /parser/parser | /annotator/annotate -->
				<div id="corpus_id_field" class="field_div">
					<label for="corpus_id">corpus_id</label>
					<input type="text" name="corpus_id" placeholder="corpus_id" id="corpus_id_input" class="field_input"><br>
				</div>
				
				<!-- /parser/divide -->
				<div id="divide_options_field" class="field_div">
					<label for="divide_options">divide_options</label>
					<input type="text" name="divide_options" placeholder='{"p_delims": ["\n"]}' value='{"p_delims": ["\n"]}' id="divide_options_input" class="field_input"><br>
				</div>

				<!-- /parser/parse -->
				<div id="parse_options_field" class="field_div">
					<label for="parse_options">parse_options</label>
					<input type="text" name="parse_options" placeholder='{"t_delims": null}' value='{"t_delims": null}' id="parse_options_input"  class="field_input"><br>
				</div>

				<!-- /annotator/annotate -->
				<div id="annotate_options_field" class="field_div">
					<label for="annotate_options">annotate_options</label>
					<input type="text" name="annotate_options" placeholder='{"lang_from": "French", "lang_to": "English", "annotator_name": null}' value='{"lang_from": "French", "lang_to": "English", "annotator_name": null}' id="annotate_options_input"  class="field_input"><br>
				</div>

				<!-- /annotator/reannotate -->
				<div id="reannotate_options_field" class="field_div">
					<label for="reannotate_options">reannotate_options</label>
					<input type="text" name="reannotate_options" placeholder='{"target_tokens: []"}' value='{"target_tokens: []"}' id="reannotate_options_input"  class="field_input"><br>
				</div>

				<!-- /upload -->
				<div id="original_text_field" class="field_div">
					<label for="original_text">Original Text</label><br>
					<textarea class="context_input auto-resize field_input"
						name="original_text"
						spellcheck="true"
						autofocus
						placeholder="Original Text"
						id="original_text_textarea"></textarea>
					<br>
				</div>

				<button class="makequerybutton btn btn-primary" onclick="makeQuery()">Make Query</button>
			</div>

			<hr>

			<div id="query_div" class="container">
				<h2>QUERY</h2>
				
				<input type="radio" name="method" value="GET" id="GET_radio">
				<label for="method">GET</label>
				<input type="radio" name="method" value="POST" id="POST_radio" checked>
				<label for="method">POST</label><br>

				<label for="uri">URI</label>
				<input type="text" name="uri" placeholder="uri" id="uri_input"><br>

				<label for="query">QUERY</label><br>
				<textarea class="context_input auto-resize"
					name="query"
					placeholder="QUERY"
					id="query_textarea"></textarea>
				<br>
				<button class="submitbutton btn btn-primary" onclick="submit()">SUBMIT</button>
			</div>

			<hr>

			<div id="corpus_div" class="container">
				<h2>Corpus</h2>
				<div id="corpus_inner"></div>
			</div>

			<hr>

			<div id="result_div" class="container">
				<h2>RESULT</h2>

				<pre id="status_pre"></pre>
				<pre id="res_json_pre"></pre>
			</div>
		</div>
	</div>

	<script>
		///////////////////////////////////////////////////////////////////////////////////////////////////////
		// SCRIPTS
		///////////////////////////////////////////////////////////////////////////////////////////////////////

		const METHODS = ["GET", "POST"]; //prolly not actual const

		const POST_ENDPOINTS_AND_REQS = {
			"/upload": ["original_text"],
			"/parser/divide": ["corpus_id", "divide_options"],
			"/parser/parse": ["corpus_id", "parse_options"],
			"/annotator/annotate": ["corpus_id", "annotate_options"],
			"/annotator/reannotate": ["corpus_id", "annotate_options", "reannotate_options"]
		}
		//TODO: merge with above. This assumes that each endpoint has only on method.
		const GET_ENDPOINTS = ["/tasks/", "/corpuses/"]

		window.onload = function () {
			onEndpointChanged();
			setCorpusesDiv();
			setTasksDiv();
		}

		function onEndpointChanged() {
			let endpoint = document.getElementById("endpoint_select").value;
			let reqs = [];
			if (!GET_ENDPOINTS.includes(endpoint))
				reqs = POST_ENDPOINTS_AND_REQS[endpoint];

			const fields_div = document.getElementById("fields_div");
			const divs = fields_div.getElementsByClassName("field_div");

			for (const div of divs) {
				let field = div.id.replace("_field", "");
				if (reqs.includes(field))
					div.hidden = false;
				else
					div.hidden = true;
			}
		}

		function setUri(resource, version) {
			let route = document.getElementById("route_input").value;
			uri = route + version + resource;
			document.getElementById("uri_input").value = uri;
		}

		function getUri() {
			return document.getElementById("uri_input").value;
		}

		function appendUri(toadd) {
			const uri_input = document.getElementById("uri_input");
			uri_input.value += toadd;
		}

		function setQuery(obj) { 
			let ta =  document.getElementById("query_textarea");
			ta.value = JSON.stringify(obj, null, '\t');
		}

		function setMethod(method) {
			if (!METHODS.includes(method))
				throw new Error("Unknown method: " + method);

			let radio = document.getElementById(method + "_radio");
			radio.click();
		}

		function getMethod() {
			for (let method of METHODS) {
				let radio = document.getElementById(method + "_radio");
				if (radio.checked)
					return method;
			}

			throw new Error("Couldn't get the method");
		}

		function makeQuery() {
			let endpoint = document.getElementById("endpoint_select").value;
			let version = document.getElementById("api_uri_input").value;
			setUri(endpoint, version);
			let method = (GET_ENDPOINTS.includes(endpoint) ? "GET" : "POST");
			setMethod(method);

			if (method == "GET") {
				setQuery("");
				return;
			}

			const reqs = POST_ENDPOINTS_AND_REQS[endpoint];

			const fields_div = document.getElementById("fields_div");
			const inputs = fields_div.getElementsByClassName("field_input"); //Incl. textarea

			let query = {};

			for (const input of inputs) {
				let name = input.name;
				if (!reqs.includes(name))
					continue;

				let value = input.value;
				query[name] = value;
			}

			setQuery(query);
		}

		async function jsonHelper(target) {
			try {
				let json = await target.json();
				return json;
			}
			catch (error) {
				console.log(error);
				return {
					"error": JSON.parse(JSON.stringify(error, Object.getOwnPropertyNames(error)))
				};
			}
		}

		function submit() {
			let uri = document.getElementById("uri_input").value;
			let query = document.getElementById("query_textarea").value;
			let method = getMethod();

			let data = {
				method: method,

				headers: {
					"Content-type": "application/json; charset=UTF-8",
				}
			}
			if (method == "POST")
				data.body = query;
			
			fetch(uri, data)
			.then((res) => {
				let status_pre = document.getElementById("status_pre");
				status_pre.innerText = res.status + " " + res.statusText;
			
				let json = jsonHelper(res);

				if (res.ok) {
					let event = new CustomEvent("response_event", {
						detail: {
							url: res.url,
							json: json
						}
					});

					document.dispatchEvent(event);
				}
				else {

				}

				return json;
			})
			.then((json) => {
				let res_json_pre = document.getElementById("res_json_pre");
				res_json_pre.innerText = JSON.stringify(json, null, 2);

				//visualizeRes(json);
			});
		}

		/*
		function visualizeRes(obj) {
			const target = document.getElementById("corpus_inner");
			
			//Check "corpuses_history"
			if (obj.hasOwnProperty("corpuses_history"))
				target.innerHTML = corpusToHtml(obj["corpuses_history"].at(-1)); //last one
			else if (obj.constructor === Array) {
				target.innerHTML = corpusesToHtml(obj);
			}
			else
				target.innerText = "";
		}
		*/

		function corpusToHtml(corpus) {
			let copy = structuredClone(corpus);
			delete copy.paragraphs;

			let str = `
				<pre>${JSON.stringify(copy)}</pre>

				<h4>paragraphs</h4>
			`;

			let hasId = ("id" in corpus);

			for (const p_idx in corpus.paragraphs) { //enumerate
				const p = corpus.paragraphs[p_idx];
				let copy = structuredClone(p);
				delete copy.tokens;

				str += "<div class='paragraph_wrapper'>";
				str += `<p class='paragraph_idx_hidden_p' hidden>${p_idx}</p>`

				if (hasId && !p.is_delimiter && p.tokens && p.tokens.length > 0) {
					str += `
						<span>
							<button class="corpus_button btn btn-light" onclick="onCorpusAnnotateButtonClicked(${corpus.id}, 'lang_from', 'lang_to', null, [${p_idx}])">
								Annotate (dummy)
							</button>
							<button class="corpus_button btn btn-light" onclick="onCorpusAnnotateButtonClicked(${corpus.id}, 'French', 'English', 'chatgpt_ft0', [${p_idx}])">
								Annotate (chatgpt_ft0, from French)
							</button>
							<button class="corpus_button btn btn-light" onclick="onCorpusAnnotateButtonClicked(${corpus.id}, 'German', 'French', 'chatgpt_ft0', [${p_idx}])">
								Annotate (chatgpt_ft0, from German)
							</button>
							<br>
							<button class="corpus_button btn btn-light" onclick="onCorpusReannotateButtonClicked(${corpus.id}, ${p_idx}, null, null, null)">
								Reannotate (dummy)
							</button>
							<button class="corpus_button btn btn-light" onclick="onCorpusReannotateButtonClicked(${corpus.id}, ${p_idx}, null, null, 'chatgpt_ft0')">
								Reannotate (chatgpt_ft0)
							</button>
						</span>
					`
				}
				str += `<pre>${JSON.stringify(copy)}</pre>`;

				for (const [t_idx, t] of p.tokens.entries()) {
					//txt, gloss, is_delimiter

					t_str = "";
					if (t.is_delimiter) {
						t_str = `<span>${t.txt}</span>`;
					}
					else {
						let gloss = t.gloss;
						if (gloss == "!UNKNOWN")
							gloss = "-";
							
						t_str += `
							<div class="token_wrapper card bg-black" style="display: inline-block; margin-right: 1px;" onclick="onTokenClicked(${corpus.id}, ${p_idx}, ${t_idx})">
								<ul class="list-group list-group-flush">
									<li class="list-group-item token_txt bg-black text-white">${ t.txt }</li>
									<li class="list-group-item gloss bg-black text-white">${ gloss }</li>
								</ul>

								<p class='token_idx_hidden_p' hidden>${t_idx}</p>
							</div>
						`
					}

					str += t_str;
				}

				str += "</div>";
				str += "<hr>";
			}

			return str;
		}

		function corpusesToHtml(arr, collapsed=false) {
			let out = "";

			for (const el of arr) {
				if (!el.hasOwnProperty("corpus_id")) continue;

				out += "<div class='corpus_wrapper'><hr>"
					const corpus_id = el["corpus_id"]
					out += "<h4 onclick='onCorpusHeadClicked(this)'>CORPUS: " + corpus_id + "</h4>"
					out += `<p hidden class="corpus_id_hidden_p">${corpus_id}</p>`

					if (el.hasOwnProperty("corpuses_history")) {
						out += "<div class='corpus' " + (collapsed ? "hidden" : "" ) + ">";
							out += `
								<span class="corpus_buttons_span">
									<button class="corpus_button btn btn-light" onclick="onCorpusDownloadButtonClicked(${corpus_id})">Download</button>
									<br>

									<button class="corpus_button btn btn-light" onclick="onCorpusDivideButtonClicked(${corpus_id})">Divide</button>
									<button class="corpus_button btn btn-light" onclick="onCorpusDivideButtonClicked(${corpus_id}, '\\n\\n')">Divide (for poems, \\n\\n)</button>
									<br>

									<button class="corpus_button btn btn-light" onclick="onCorpusParseButtonClicked(${corpus_id})">Parse</button>
									<br>

									<button class="corpus_button btn btn-light" onclick="onCorpusAnnotateButtonClicked(${corpus_id})">
										Annotate (dummy)
									</button>
									<button class="corpus_button btn btn-light" onclick="onCorpusAnnotateButtonClicked(${corpus_id}, 'French', 'English', 'chatgpt_ft0')">
										Annotate (chatgpt_ft0, from French)
									</button>
									<button class="corpus_button btn btn-light" onclick="onCorpusAnnotateButtonClicked(${corpus_id}, 'German', 'French', 'chatgpt_ft0')">
										Annotate (chatgpt_ft0, from German)
									</button>
								</span>
								<br>
							`;
							let corpus = el["corpuses_history"].at(-1);
							if (corpus) {
								corpus.id = corpus_id;
								out += corpusToHtml(corpus);
							}
							else {
								console.log("Error: !corpus");
							}
						out += "</div>"
					}
				out += "</div>"
			}

			return out;
		}

		function onCorpusHeadClicked(el) {
			const target = el.parentNode.getElementsByClassName("corpus")[0];
			target.hidden = !target.hidden;

			const corpus_id = el.parentNode.getElementsByClassName("corpus_id_hidden_p")[0].innerText;
			setField("corpus_id", corpus_id);
		}

		function onCorpusDownloadButtonClicked(corpus_id) {
			let json = getCorpusJson(corpus_id);
			json = JSON.stringify(json);
			console.log("Downloading...");

			let a = document.createElement("a"); //dummy a
			let file = new Blob([json], {type: "text/plain"});
			a.download = corpus_id + ".corpus.json";
			a.href = URL.createObjectURL(file);
			a.click();
		}

		function tasksToHtml(arr) {
			let out = "";

			for (const el of arr) {
				if (!el.hasOwnProperty("task_id")) continue;

				out += "<div class='task_wrapper'><hr>"
					const task_id = el["task_id"]

					out += `
						Task: ${task_id}
					`
					if (shouldShowTaskAbortButton(el.status))
						out += `
							<button class="task_button btn btn-light" onclick="onTaskAbortButtonClicked(${task_id})">Abort</button>
						`
						
					out += `
						for corpus: ${el.target_corpus_id}
						(${el.status})
						</p>
					`;
					out += `<p hidden class="task_id_hidden_p">${task_id}</p>`
				out += "</div>"
			}

			return out;
		}

		/*
		function onTaskHeadClicked(el) {
			const target = el.parentNode.getElementsByClassName("task")[0];
			target.hidden = !target.hidden;

			//const task_id = el.parentNode.getElementsByClassName("task_id_hidden_p")[0].innerText;
		}
		*/

		function shouldShowTaskAbortButton(taskStatus) {
			const effectiveStatus = ["READY", "RUNNING"];
			return effectiveStatus.includes(taskStatus);
		}

		function selectEndpoint(endpoint) {
				const select = document.getElementById("endpoint_select");
				const options = Array.from(select.querySelectorAll("option"));
				const option = options.find((o) => o.value == endpoint);

				option.selected = true;
				//onEndpointChanged(); //has to be called manually for some reason...
		}

		function getInput(field) {
			let input = document.getElementById(field + "_input");
			if (!input)
				input = document.getElementById(field + "_textarea");

			return input;
		}

		function setField(field, value) {
			const input = getInput(field);
			input.value = value;
		}

		function getField(field) {
			const input = getInput(field);
			return input.value;
		}

		function setCorpusesDiv() {
			selectEndpoint("/corpuses/");
			makeQuery();

			submit();
		}

		function setTasksDiv() {
			selectEndpoint("/tasks/");
			makeQuery();

			submit();
		}

		async function onCorpusesResponse(event) {
			//Check url
			if (!event.detail.url.endsWith("/corpuses/"))
				return;

			const json = await event.detail.json;

			let corpuses_div = document.getElementById("frontend_corpuses_div");
			corpuses_div.innerHTML = corpusesToHtml(json, collapsed=true);

			setCorpusJsons(json);
		}
		document.addEventListener("response_event", onCorpusesResponse);

		async function onTasksResponse(event) {
			//Check url
			if (!event.detail.url.endsWith("/tasks/"))
				return;

			const json = await event.detail.json;

			let tasks_div = document.getElementById("frontend_tasks_div");
			tasks_div.innerHTML = tasksToHtml(json, collapsed=true);
		}
		document.addEventListener("response_event", onTasksResponse);

		async function onAnyOtherResponse(event) {
			if (event.detail.url.endsWith("/corpuses/")) //TODO: map
				return;
			if (event.detail.url.endsWith("/tasks/"))
				return;

			//Check the option
			const checkbox = document.getElementById("listupdate_checkbox");
			if (!checkbox.checked)
				return;

			setCorpusesDiv();
			setTasksDiv();
		}
		document.addEventListener("response_event", onAnyOtherResponse);

		function onFrontendUploadButtonClicked() {
			const text = document.getElementById("frontend_original_text_textarea").value;

			selectEndpoint("/upload");
			setField("original_text", text);
			makeQuery();
			submit();
		}

		function onCorpusDivideButtonClicked(corpus_id, p_delim='\n') {
			selectEndpoint("/parser/divide");
			setField("corpus_id", corpus_id);

			let divide_options = {
				p_delims: [p_delim]
			};
			divide_options = JSON.stringify(divide_options);
			setField("divide_options", divide_options);

			makeQuery();
			submit();
		}

		function onCorpusParseButtonClicked(corpus_id) {
			selectEndpoint("/parser/parse");
			setField("corpus_id", corpus_id);
			makeQuery();
			submit();
		}

		function onCorpusAnnotateButtonClicked(corpus_id, lang_from="French", lang_to="English", annotator_name=null, target_paragraphs=null) {
			selectEndpoint("/annotator/annotate");
			setField("corpus_id", corpus_id);

			let annotate_options = {
				lang_from: lang_from, lang_to: lang_to, annotator_name: annotator_name, target_paragraphs: target_paragraphs,
			};
			annotate_options = JSON.stringify(annotate_options);
			setField("annotate_options", annotate_options);

			makeQuery();
			submit();
		}

		function onCorpusReannotateButtonClicked(corpus_id, target_p, lang_from="French", lang_to="English", annotator_name=null) {
			const p_set = isTokenSelected(corpus_id, target_p, null, true);
			if (!p_set) {
				console.log("reannotate: no token selected.");
				return;
			}
			
			selectEndpoint("/annotator/reannotate");
			setField("corpus_id", corpus_id);

			let annotate_options = {
				lang_from: lang_from, lang_to: lang_to, annotator_name: annotator_name, target_paragraphs: [target_p],
			};
			annotate_options = JSON.stringify(annotate_options);
			setField("annotate_options", annotate_options);

			//Set ReannotateOptions
			let reannotate_options = {
				target_tokens: p_set
			};
			reannotate_options = JSON.stringify(reannotate_options);
			setField("reannotate_options", reannotate_options);

			makeQuery();
			submit();

			resetSelectedTokens();
		}

		let SelectedTokens = {};
		function toggleSelectedToken(corpus_id, p_idx, t_idx) {
			let selecteds = SelectedTokens;
			
			if (!selecteds.hasOwnProperty(corpus_id)) {
				selecteds[corpus_id] = {[p_idx]: [t_idx]};
			}
			else {
				//Has the corpus
				let corpus_set = selecteds[corpus_id];
				if (!corpus_set.hasOwnProperty(p_idx)) {
					corpus_set[p_idx] = [t_idx];
				}
				else {
					//Check if it has t_idx
					p_set = corpus_set[p_idx];
					if (!(p_set.includes(t_idx))) {
						p_set.push(t_idx);
					}
					else {
						//Remove
						p_set.pop(t_idx);
					}
				}
			}

			visualizeSelectedTokens();
		}
		function isTokenSelected(corpus_id, p_idx, t_idx, p_only=false) {
			let selecteds = SelectedTokens;

			if (!selecteds.hasOwnProperty(corpus_id))
				return false;

			let corpus_set = selecteds[corpus_id];
			if (!corpus_set.hasOwnProperty(p_idx))
				return false;


			let p_set = corpus_set[p_idx];
			if (p_only) return p_set; //Found the paragraph
			if (!(p_set.includes(t_idx))) 
				return false;

			return true;
		}
		function resetSelectedTokens() {
			SelectedTokens = {};
		}

		function onTokenClicked(corpus_id, p_idx, t_idx) {
			toggleSelectedToken(corpus_id, p_idx, t_idx);
		}

		function visualizeSelectedTokens() {
			//First locate the tokens
			//This approach is not straightforward... But it works
			let corpuses_div = document.getElementById("frontend_corpuses_div");
			for (const corpus_wrapper of corpuses_div.getElementsByClassName("corpus_wrapper")) {
				const corpus_id_hidden_p = corpus_wrapper.getElementsByClassName("corpus_id_hidden_p")[0];
				if (!corpus_id_hidden_p) continue; //Whence?
				const corpus_id = corpus_id_hidden_p.innerText;

				const corpus = corpus_wrapper.getElementsByClassName("corpus")[0];
				for (const paragraph_wrapper of corpus.getElementsByClassName("paragraph_wrapper")) {
					const paragraph_idx_hidden_p = paragraph_wrapper.getElementsByClassName("paragraph_idx_hidden_p")[0];
					if (!paragraph_idx_hidden_p) continue; //Not seen
					const p_idx = paragraph_idx_hidden_p.innerText;

					for (const token_wrapper of paragraph_wrapper.getElementsByClassName("token_wrapper")) {
						const token_idx_hidden_p = token_wrapper.getElementsByClassName("token_idx_hidden_p")[0];
						if (!token_idx_hidden_p) continue; //Not seen

						let t_idx = token_idx_hidden_p.innerText;
						t_idx = parseInt(t_idx);

						//Vis.
						if (isTokenSelected(corpus_id, p_idx, t_idx)) {
							token_wrapper.classList.remove("not-selected-token");
							token_wrapper.classList.add("selected-token");
						}
						else {
							token_wrapper.classList.remove("selected-token");
							token_wrapper.classList.add("not-selected-token");
						}
					}
				}
			}
		}

		/*
		function onReannotate(corpus_id, target_tokens, annotate_options=null) {
			selectEndpoint("/annotator/reannotate");
			setField("corpus_id", corpus_id);

			let reannotate_options = {"target_tokens": target_tokens};
			reannotate_options = JSON.stringify(reannotate_options);
			annotate_options = JSON.stringify(annotate_options);

			setField("reannotate_options", reannotate_options);
			setField("annotate_options", annotate_options);

			makeQuery();
			submit();
		}
		*/

		function onTaskAbortButtonClicked(task_id) {
			selectEndpoint("/tasks/");
			makeQuery();

			appendUri(task_id + "/abort")

			submit();
		}

		function getCorpusJson(corpus_id) {
			return getCorpusJson.jsons.filter((j) => j.corpus_id == corpus_id).pop()["corpuses_history"].pop();
		}

		function setCorpusJsons(jsons) {
			getCorpusJson.jsons = jsons;
		}

		async function onJsonFileInput(files) {
			let file = files[0];
			let content = await file.text();
			content = JSON.parse(content);

			selectEndpoint("/upload");
			//setField("original_text", text);
			makeQuery();

			setQuery({
				"corpus": content
			});

			submit();
		}
	</script>

	<style>
		body {
			background-color: #000000;
			color: #ffffff;
			font-family: sans-serif;
			text-align: center;
		}

		#urls {
			font-size: 120%;
			font-weight: 125;
		}
		a:link {
			color: lightgrey;
		}

		#main_div {
			display: flex;
			justify-content: center;
		}

		#frontend_test_div {
			width: 60%;
		}
		#api_test_div {
			width: 20%
		}

		/* Imported from the PoC */
		.token_txt {
			font-size: 150%;
		}

		.gloss {
			font-size: 90%;
			/*font-style: italic;*/
			font-family: monospace;
			
			text-align: center;
		}

		li {
			border: none !important;
		}
		/* END PoC import */

		textarea {
			width: 90%;
			height: 18em;
		}

		#uri_input {
			width: 80%;
		}

		#res_json_pre {
			text-align: left;
			overflow: scroll;
			max-height: 64em;
		}

		input.field_input {
			width: 70%;
		}

		.selected-token {
			border: 1px white solid;
		}
	</style>
</body>